body {
  height: 100vh;
  overflow: hidden;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btns div {
  background: #222222;
  border-radius: 30px;
  padding: 7px 25px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.value {
  font-size: 130px;
  color: #fff;
}
.next {
  top: 0;
  position: absolute;
  cursor: pointer;
  border: 5px solid black;
  width: 250px;
  background: rgb(1, 48, 28);
  transition: all 1s;
}
.next:active {
  border: 5px solid #00EA86;
  background: #007543;
  color: #00EA86;
  transition: all 0.2s;
}
.back {
  bottom: 0;
  position: absolute;
  cursor: pointer;
  border: 7px solid black;
  background: rgb(1, 48, 28);
  width: 80px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 300px;
}
.main-btn,
.main-btn svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
